@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="display-4">Welcome to RPMovies</h1>
            <p class="display-5">Movies available for rent online or in person!</p>
            <p class="display-6">Online rentals available 24/7</p>
            <p class="display-6">Store hours: 11am-8pm daily.</p>
        </div>
        <div class="col-sm-6">
            <img src="images/movie-theater.jpg" alt="movie theater" />
        </div>
    </div>
</div>
